<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Tracking</title>
    <link rel="stylesheet" href="style_Home.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://apis.google.com/js/api.js"></script>
    
</head>
<body>
    <header>
        <div class="header-left">
            <button class="menu-button"><i class="material-icons">menu</i></button>
            <img src="https://www.gstatic.com/youtube/img/creator/yt_studio_logo.png" alt="O-Tracking" class="logo">
        </div>
        <div class="header-right">
            <button class="create-button"><i class="material-icons">video_call</i> CREATE</button>
            <i class="material-icons">help_outline</i>
            <i class="material-icons">notifications</i>
            <div class="user-avatar">A</div>
        </div>
    </header>
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li class="active"><i class="material-icons">dashboard</i> Dashboard</li>
                <li><i class="material-icons">content_copy</i> Content</li>
                <li><i class="material-icons">analytics</i> Analytics</li>
            </ul>
        </nav>
        <main class="content">
            <h1>Overview</h1>
            <div class="dashboard-grid">
                <div class="card" data-video-id="dQw4w9WgXcQ">
                    <img src="https://img.youtube.com/vi/dQw4w9WgXcQ/0.jpg" alt="Video Thumbnail" class="thumbnail">
                    <div class="video-content">
                        <h2 class="video-title">Video Title</h2>
                        <p class="video-description">Description</p>
                    </div>
                    <div class="video-tracking">
                        <button class="start-tracking">Start Tracking</button>
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                    </div>
                </div>
                <div class="card" data-video-id="9bZkp7q19f0">
                    <img src="https://img.youtube.com/vi/9bZkp7q19f0/0.jpg" alt="Video Thumbnail" class="thumbnail">
                    <div class="video-content">
                        <h2 class="video-title">Vieo Title</h2>
                        <p class="video-description">Description</p>
                    </div>
                    <div class="video-tracking">
                        <button class="start-tracking">Start Tracking</button>
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                    </div>
                </div>
                <div class="card" data-video-id="kJQP7kiw5Fk">
                    <img src="https://img.youtube.com/vi/kJQP7kiw5Fk/0.jpg" alt="Video Thumbnail" class="thumbnail">
                    <div class="video-content">
                        <h2 class="video-title">Video Title</h2>
                        <p class="video-description">Description</p>
                    </div>
                    <div class="video-tracking">
                        <button class="start-tracking">Start Tracking</button>
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div id="videoModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <iframe id="videoIframe" width="560" height="315" frameborder="0" allowfullscreen></iframe>
           
        </div>
    </div>

    <script src="home.js"></script>
</body>
</html>